@model Object[]
@{
    var session = ((JobSeekerWeb.CustomUtils.SessionObject)Model[0]);
    var appliedUsers = (List <JobSeekerWeb.Models.ApplicantViewModel>)Model[1];
    ViewBag.Title = "JobApplications";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<main>
    <div class="my-jobs-main">
        <h3 class="title">
            Job Applications
        </h3>
        <div class="grid job-applications">
    
            @{
                foreach (var user in appliedUsers)
                {
                    Html.RenderPartial("JobApplicationsCard", user);
                }
            }

        </div>
    </div>
</main>

