
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <h3>Please check terms and conditions</h3>
        </div>
    </div>
</div>
<div class="signup-page">
    <div class="left">
        <div class="arrow-left">
            <i class="fa fa-arrow-left fa-3x"></i>
        </div>
        <div class="vertical-signup-text">
            SIGN UP
        </div>
        <div class="text-wrapper">
            <div class="job-seeker">
                <h1 class="job">JOB</h1>
                <h1 class="seeker">seeker</h1>
            </div>
            <div class="description">
                <p>The First Freelancing<br>Platform in Bangladesh.</p>
            </div>
            <div class="footer-text">
                <p>Discover true talent, or become one.</p>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="form-wrapper">
            <div class="signup-header">
                <h1>Sign up to Job Seeker</h1>
            </div>
            <button class="signup-with-google-button" onclick="location.href = '/User/SignIn' ">
                <i class="google-icon fab fa-google"></i>
                Already a user? Click to sign in
            </button>
            <div class="or-with-line">
                <p>Or</p>
            </div>
            <form method="POST" class="custom-form" action="/User/SignUp">
                <div class="custom-form-group  name-and-username-form-group">
                    <div class="name-form-group">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="custom-input" id="name" name="name" aria-describedby="nameHelp" placeholder="Atiqur" required>
                        <div class="line"></div>
                    </div>
                    <div class="username-form-group">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" class="custom-input" id="username" name="user_name" aria-describedby="usernameHelp" placeholder="Atiq" required>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="custom-form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="custom-input" id="email" name="mail" aria-describedby="emailHelp" placeholder="something@gmail.com" required>
                    <div class="line"></div>
                </div>
                <div class="custom-form-group">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="custom-input" id="password" name="password" aria-describedby="passwordHelp" placeholder="6+ characters" required>
                    <div class="line"></div>
                </div>
                <div class="custom-form-check">
                    <input class="custom-form-check-input" type="checkbox" value=1 id="termAndCondition" name="isChecked">
                    <label class="custom-form-check-label" for="termAndCondition">
                        Creating an account means you're
                        okay to our <a href="#" class="term-text-green">Term of Services, Privacy Policy,</a>and out
                        default
                        <a href="#" class="term-text-green">
                            Notification
                            Settings
                        </a>
                    </label>
                </div>
                <button type="submit" class="form-custom-button">Create Account</button>
            </form>
        </div>
    </div>
</div>

