@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    bool otp = ViewBag.otp == null ? false : ViewBag.otp;
    //bool otp = true;
}

<div class="signin-page">
    <div class="left">
        <div class="arrow-left">
            <i class="fa fa-arrow-left fa-3x"></i>
        </div>
        <div class="vertical-signin-text">
            SIGN IN
        </div>
        <div class="text-wrapper">
            <div class="job-seeker">
                <h1 class="job">JOB</h1>
                <h1 class="seeker">seeker</h1>
            </div>
            <div class="description">
                <p>The First Freelancing<br>Platform in Bangladesh.</p>
            </div>
            <div class="footer-text">
                <p>Discover true talent, or become one.</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="signup-reminder">
            <p class="p1">Not a member?</p>
            <a class="p2" href="/User/SignUp">Sign up now?</a>
        </div>
        <div class="form-wrapper">
            <div class="signin-header">
                <h1>Sign in to Job Seeker</h1>
            </div>

            <button class="signin-with-google-button" id="customBtn">
                <i class="google-icon fab fa-google"></i>
                Sign in with Google
            </button>
            @*<div class="g-signin2" data-onsuccess="onSignIn"></div>*@

            <div class="or-with-line">
                <p>Or</p>
            </div>
            <form method="POST" class="custom-form" action="/User/SignIn">
                <div class="custom-form-group">
                    <label class="form-label" for="email">Email Address</label>
                    <input type="email" class="custom-input" name="mail" id="email" aria-describedby="emailHelp" placeholder="ani.atikur99@gmail.com" required>
                    <div class="line"></div>
                </div>
                <div class="custom-form-group">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="custom-input" id="password" name="password" aria-describedby="passwordHelp" required>
                    <div class="line"></div>
                </div>
                <button type="submit" class="form-custom-button">Sign in</button>
            </form>
        </div>
    </div>

    <form method="POST" id="gooleForm" action="/User/addDatabase" style="display: none">

        <input type="text" id="name" name="name" aria-describedby="nameHelp">

        <input type="text" id="username" name="user_name" aria-describedby="usernameHelp">

        <input type="email" id="email_inp" name="email" aria-describedby="emailHelp">

        <input type="url" id="picture" name="picture" aria-describedby="pictureHelp">

        <input type="text" id="token" name="token" aria-describedby="pictureHelp">

    </form>

</div>
<script src="https://apis.google.com/js/api:client.js"></script>
<script>

    var googleUser = {};
    var startApp = function () {
        gapi.load('auth2', function () {
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: '1689376102-h58hlbjq68enlvrljik6epiksicb8762.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                // Request scopes in addition to 'profile' and 'email'
                scope: 'email'
            });
            attachSignin(document.getElementById('customBtn'));
        });
    };

    function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(element, {},
            function (googleUser) {
                const profile = googleUser.getBasicProfile();

                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());



                var id_token = googleUser.getAuthResponse().id_token;
                //console.log("ID Token: " + id_token);
                const inputs = document.querySelector('#gooleForm').children;
                inputs[0].value = profile.getName();
                inputs[1].value = profile.getFamilyName();
                inputs[2].value = profile.getEmail();
                inputs[3].value = profile.getImageUrl();
                inputs[4].value = id_token;

                document.querySelector('#gooleForm').submit();

            }, function (error) {
                alert(JSON.stringify(error, undefined, 2));
            });
    }

</script>
<script>startApp();</script>
