@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="team">
    <div id="team-fullpage">
        <section class="section active" id="team-section-0">
            <div class="team-intro">
                <div class="team--hero-text custom--container">
                    <h1 id="team--hero-header"></h1>
                    <div class="team--hero-text">
                        <span>Scroll down to find out</span>
                    </div>
                </div>
                <div class="team-arrow">
                    <a href="#sanjid">
                        <div class="team--arrow-down">
                            <div class="shape-1 m-center">
                                <div class="shape-2 m-center"></div>
                            </div>
                            <div class="shape-3 m-center">
                                <div class="shape-4 m-center"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="section teammates" id="180204005">
            <div class="sanjid member flex">
                <div class="default-card flex">
                    <div class="content flex">
                        <div class="member-image">

                        </div>
                        <h1>Sanjid</h1>
                        <h2>ID: 180204005 </h2>
                        <span>
                            Hobby: DOTA
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <section class="section teammates" id="180204015">
            <div class="tanim member flex">
                <div class="default-card flex">
                    <div class="content flex">
                        <div class="member-image">

                        </div>
                        <h1>Tanim</h1>
                        <h2>ID: 180204015 </h2>
                        <span>
                            Hobby: DOTA2
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <section class="section teammates" id="180204024">
            <div class="atikur member flex">
                <div class="default-card flex">
                    <div class="content flex">
                        <div class="member-image">

                        </div>
                        <h1>Atikur</h1>
                        <h2>ID: 180204024 </h2>
                        <span>
                            Hobby: ROBOWAITER
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


