.color-white {
    color: white;
}

.w-90 {
    width: 90% !important;
}

.header-text-2 {
    color: white;
    font-size: 40px;
    opacity: 0.8;
}

    .header-text-2:hover {
        cursor: pointer;
    }

a:hover {
    color: white;
}

.footer-text {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {


    .header-text {
        font-size: 12vw;
    }

    .header-text-2 {
        font-size: 9vw !important;
    }

    .header-text-3 {
        font-size: 7vw;
    }

    .footer-text {
        display: none !important;
    }

    .my-button {
        font-size: 7vw;
        margin: 10px 0 !important;
    }

    .button-earn {
        margin: 10px auto !important;
    }
}
