
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="explore-container">
    <div class="wrapper">
        <div class="left">
            <div class="freelancer-dashboard">
                <div class="freelancer-info">
                    <div class="picture">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="profile-pic" />
                        <!-- <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="profile-pic"> -->
                    </div>
                    <div class="text-section">
                        <div class="name">
                            <h1>Atiqur</h1>
                        </div>
                        <div class="acc-setting-text">
                            <a href="dashboard.php">Go to Account Settings</a>
                        </div>
                    </div>
                </div>
                <div class="horizontal-line"></div>
                <!-- --------------budget------------- -->
                <form action="" method="GET">
                    <div class="budget-div">
                        <div class="heading">
                            <div class="icon-tk">
                                <img src="~/images/taka2.svg" alt="">
                            </div>
                            <h1>Budget</h1>
                            <div class="icon-triangle">
                                <img src="~/images/filterDown.svg" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <div class="input-amount">
                                <input type="number" min="0" max="50000" class="input-tk-min" name="tk_min">
                                <span>to</span>
                                <input type="number" min="0" max="50000" class="input-tk-max" name="tk_max">
                            </div>
                            <div class="slider-container">
                                <div class="tk-min">500</div>
                                <div class="amount-slider">
                                    <div class="range-slider">
                                        <div class="track">
                                            <div class="track-bg"></div>
                                            <div class="track-selected"></div>
                                        </div>
                                        <div class="thumbs">
                                            <div class="left-thumb"></div>
                                            <div class="right-thumb"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tk-max">1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="catagory-div">
                        <div class="heading">
                            <div class="icon-catagory">
                                <img src="~/images/category.svg" alt="catagory">
                            </div>
                            <h1>Category</h1>
                            <div class="icon-triangle">
                                <img src="~/images/filterDown.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="choose-catagory">
                        <div class="radio-item">
                            <input type="radio" id="gfxAndDesign" name="category" value="Graphics & Design">
                            <label for="gfxAndDesign">Graphics & Design</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="digitalMarketing" name="category" value="Digital Marketing">
                            <label for="digitalMarketing">Digital Marketing</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="writingAndTranslation" name="category" value="Writing & Translation">
                            <label for="writingAndTranslation">Writing & Translation</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="videoAndAnimation" name="category" value="Video & Animation">
                            <label for="videoAndAnimation">Video & Animation</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="musicAndAudio" name="category" value="Music & Audio">
                            <label for="musicAndAudio">Music & Audio</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="programmingAndTech" name="category" value="Programming & Tech">
                            <label for="programmingAndTech">Programming & Tech</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="business" name="category" value="Business">
                            <label for="business">Business</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="lifestyle" name="category" value="Lifestyle">
                            <label for="lifestyle">Lifestyle</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="none" name="category" value="None">
                            <label for="none">None</label>
                        </div>
                        <button type="submit" class="filter-btn">OK</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="custom-container">
                <div class="header">
                    <h1>Explore</h1>
                    <div class="line"></div>
                </div>
                <div class="job-card-container">
                    <div class="job-card">
                        <div class="job-card-header">
                            <h1 class="catagory">Graphics</h1>
                            <h1 class="job-name">Illustration</h1>
                            <div class="amount-div">
                                <div class="tk-icon">
                                    <img src="~/images/taka-bw.svg" alt="">
                                </div>
                                <h1 class="amount">2000</h1>
                            </div>
                            <div class="line"></div>
                            <div class="details">
                                <div class="duration">
                                    <div class="details-left">Duration</div>
                                    <div class="details-right">
                                        3 Days
                                    </div>
                                </div>
                                <div class="revisions">
                                    <div class="details-left">revisions</div>
                                    <div class="details-right">4</div>
                                </div>
                                <div class="negotiable">
                                    <div class="details-left">Negotiable</div>
                                    <div class="details-right">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <p>Illustration is very nice</p>
                            </div>
                            <form action="productDetails.php" method="GET">
                                <input type="hidden" class="card-button" value="<?php echo $card['id'] ?>" name="job_id" />
                                <button class="card-button">See More</button>
                            </form>
                            <!--<div class="card-button">Applied!</div> -->
                        </div>
                    </div>
                    <div class="job-card">
                        <div class="job-card-header">
                            <h1 class="catagory">Graphics</h1>
                            <h1 class="job-name">Illustration</h1>
                            <div class="amount-div">
                                <div class="tk-icon">
                                    <img src="~/images/taka-bw.svg" alt="">
                                </div>
                                <h1 class="amount">2000</h1>
                            </div>
                            <div class="line"></div>
                            <div class="details">
                                <div class="duration">
                                    <div class="details-left">Duration</div>
                                    <div class="details-right">
                                        3 Days
                                    </div>
                                </div>
                                <div class="revisions">
                                    <div class="details-left">revisions</div>
                                    <div class="details-right">4</div>
                                </div>
                                <div class="negotiable">
                                    <div class="details-left">Negotiable</div>
                                    <div class="details-right">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <p>Illustration is very nice</p>
                            </div>
                            <form action="productDetails.php" method="GET">
                                <input type="hidden" class="card-button" value="<?php echo $card['id'] ?>" name="job_id" />
                                <button class="card-button">See More</button>
                            </form>
                            <!--<div class="card-button">Applied!</div> -->
                        </div>
                    </div>
                    <div class="job-card">
                        <div class="job-card-header">
                            <h1 class="catagory">Graphics</h1>
                            <h1 class="job-name">Illustration</h1>
                            <div class="amount-div">
                                <div class="tk-icon">
                                    <img src="~/images/taka-bw.svg" alt="">
                                </div>
                                <h1 class="amount">2000</h1>
                            </div>
                            <div class="line"></div>
                            <div class="details">
                                <div class="duration">
                                    <div class="details-left">Duration</div>
                                    <div class="details-right">
                                        3 Days
                                    </div>
                                </div>
                                <div class="revisions">
                                    <div class="details-left">revisions</div>
                                    <div class="details-right">4</div>
                                </div>
                                <div class="negotiable">
                                    <div class="details-left">Negotiable</div>
                                    <div class="details-right">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <p>Illustration is very nice</p>
                            </div>
                            <form action="productDetails.php" method="GET">
                                <input type="hidden" class="card-button" value="<?php echo $card['id'] ?>" name="job_id" />
                                <button class="card-button">See More</button>
                            </form>
                            <!--<div class="card-button">Applied!</div> -->
                        </div>
                    </div>
                    <div class="job-card">
                        <div class="job-card-header">
                            <h1 class="catagory">Graphics</h1>
                            <h1 class="job-name">Illustration</h1>
                            <div class="amount-div">
                                <div class="tk-icon">
                                    <img src="~/images/taka-bw.svg" alt="">
                                </div>
                                <h1 class="amount">2000</h1>
                            </div>
                            <div class="line"></div>
                            <div class="details">
                                <div class="duration">
                                    <div class="details-left">Duration</div>
                                    <div class="details-right">
                                        3 Days
                                    </div>
                                </div>
                                <div class="revisions">
                                    <div class="details-left">revisions</div>
                                    <div class="details-right">4</div>
                                </div>
                                <div class="negotiable">
                                    <div class="details-left">Negotiable</div>
                                    <div class="details-right">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <p>Illustration is very nice</p>
                            </div>
                            <form action="productDetails.php" method="GET">
                                <input type="hidden" class="card-button" value="<?php echo $card['id'] ?>" name="job_id" />
                                <button class="card-button">See More</button>
                            </form>
                            <!--<div class="card-button">Applied!</div> -->
                        </div>
                    </div>
                    <div class="job-card">
                        <div class="job-card-header">
                            <h1 class="catagory">Graphics</h1>
                            <h1 class="job-name">Illustration</h1>
                            <div class="amount-div">
                                <div class="tk-icon">
                                    <img src="~/images/taka-bw.svg" alt="">
                                </div>
                                <h1 class="amount">2000</h1>
                            </div>
                            <div class="line"></div>
                            <div class="details">
                                <div class="duration">
                                    <div class="details-left">Duration</div>
                                    <div class="details-right">
                                        3 Days
                                    </div>
                                </div>
                                <div class="revisions">
                                    <div class="details-left">revisions</div>
                                    <div class="details-right">4</div>
                                </div>
                                <div class="negotiable">
                                    <div class="details-left">Negotiable</div>
                                    <div class="details-right">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <p>Illustration is very nice</p>
                            </div>
                            <form action="productDetails.php" method="GET">
                                <input type="hidden" class="card-button" value="<?php echo $card['id'] ?>" name="job_id" />
                                <button class="card-button">See More</button>
                            </form>
                            <!--<div class="card-button">Applied!</div> -->
                        </div>
                    </div>
                    <div class="job-card">
                        <div class="job-card-header">
                            <h1 class="catagory">Graphics</h1>
                            <h1 class="job-name">Illustration</h1>
                            <div class="amount-div">
                                <div class="tk-icon">
                                    <img src="~/images/taka-bw.svg" alt="">
                                </div>
                                <h1 class="amount">2000</h1>
                            </div>
                            <div class="line"></div>
                            <div class="details">
                                <div class="duration">
                                    <div class="details-left">Duration</div>
                                    <div class="details-right">
                                        3 Days
                                    </div>
                                </div>
                                <div class="revisions">
                                    <div class="details-left">revisions</div>
                                    <div class="details-right">4</div>
                                </div>
                                <div class="negotiable">
                                    <div class="details-left">Negotiable</div>
                                    <div class="details-right">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <p>Illustration is very nice</p>
                            </div>
                            <form action="productDetails.php" method="GET">
                                <input type="hidden" class="card-button" value="<?php echo $card['id'] ?>" name="job_id" />
                                <button class="card-button">See More</button>
                            </form>
                            <!--<div class="card-button">Applied!</div> -->
                        </div>
                    </div>
                    <div class="job-card">
                        <div class="job-card-header">
                            <h1 class="catagory">Graphics</h1>
                            <h1 class="job-name">Illustration</h1>
                            <div class="amount-div">
                                <div class="tk-icon">
                                    <img src="~/images/taka-bw.svg" alt="">
                                </div>
                                <h1 class="amount">2000</h1>
                            </div>
                            <div class="line"></div>
                            <div class="details">
                                <div class="duration">
                                    <div class="details-left">Duration</div>
                                    <div class="details-right">
                                        3 Days
                                    </div>
                                </div>
                                <div class="revisions">
                                    <div class="details-left">revisions</div>
                                    <div class="details-right">4</div>
                                </div>
                                <div class="negotiable">
                                    <div class="details-left">Negotiable</div>
                                    <div class="details-right">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <p>Illustration is very nice</p>
                            </div>
                            <form action="productDetails.php" method="GET">
                                <input type="hidden" class="card-button" value="<?php echo $card['id'] ?>" name="job_id" />
                                <button class="card-button">See More</button>
                            </form>
                            <!--<div class="card-button">Applied!</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- --------------------my job cards----------------------- -->
            <div class="custom-container">
                <div class="header">
                    <h1>My posts</h1>
                    <div class="line"></div>
                </div>
                <div class="job-card-container">
                    <div class="job-card">
                        <div class="job-card-header">
                            <h1 class="catagory">Programming</h1>
                            <h1 class="job-name">JavaScript</h1>
                            <div class="amount-div">
                                <div class="tk-icon">
                                    <img src="~/images/taka-bw.svg" alt="">
                                </div>
                                <h1 class="amount">2400</h1>
                            </div>
                            <div class="line"></div>
                            <div class="details">
                                <div class="duration">
                                    <div class="details-left">Duration</div>
                                    <div class="details-right">
                                       10 Days
                                    </div>
                                </div>
                                <div class="revisions">
                                    <div class="details-left">revisions</div>
                                    <div class="details-right">4</div>
                                </div>
                                <div class="negotiable">
                                    <div class="details-left">Negotiable</div>
                                    <div class="details-right">
                                       No
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <p>Programming is very hard</p>
                            </div>
                            <div class="mt-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -----------------------Toast------------------------- -->
<!-- -----------------Toast------------------------- -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToastApplied" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <h4 class="me-auto mb-0">Job Application Successful</h4>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <h3>You will be notified when you<br> get accepted by the hirer</h3>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToastNoCard" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <h4 class="me-auto mb-0">Messege</h4>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <h3>No job card found</h3>
        </div>
    </div>
</div>

