
@model Object[]
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";

    var session = ((JobSeekerWeb.CustomUtils.SessionObject)Model[0]);
    var jobList = (List<JobSeekerWeb.Models.job>)Model[1];
    var jobIds = (int[])Model[2];

    string name = session.get("name");
    string user_name = session.get("username");
    string mail = session.get("mail");
    string phone_no = session.get("phoneNo");
    string billind_info = session.get("billingInfo");
    string picture = session.get("picture");
    string token = session.get("token");

    var tk_min = ViewBag.tk_min;
    var tk_max = ViewBag.tk_max;
}

<div class="explore-container">
    <div class="wrapper">
        <div class="left">
            <div class="freelancer-dashboard">
                <div class="freelancer-info">
                    <div class="picture">
                        @{
                            if (picture == null)
                            {
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="profile picture1">
                            }
                            else if (!picture.Contains("http://"))
                            {
                                <img src="~/DatabaseImg/@picture" alt="profile picture2">
                            }
                            else if (picture.Contains("http://"))
                            {
                                <img src=@picture alt="profile picture3">
                            }
                        }
                    </div>
                    <div class="text-section">
                        <div class="name">
                            <h1>@name</h1>
                        </div>
                        <div class="acc-setting-text">
                            <a href="/Dashboard/Overview#dashboard__overview">Go to Account Settings</a>
                        </div>
                    </div>
                </div>
                <div class="horizontal-line"></div>
                <!-- --------------budget------------- -->
                <form action="/Explore/Jobs" method="post">
                    <div class="budget-div">
                        <div class="heading">
                            <div class="icon-tk">
                                <img src="~/images/taka2.svg" alt="">
                            </div>
                            <h1>Budget</h1>
                            <div class="icon-triangle">
                                <img src="~/images/filterDown.svg" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <div class="input-amount">
                                <input type="number" min="0" max="50000" class="input-tk-min" name="tk_min" value=@(tk_min == null? 0 : tk_min)>
                                <span>to</span>
                                <input type="number" min="0" max="50000" class="input-tk-max" name="tk_max" value=@(tk_max == null? 50000 : tk_max)>
                            </div>
                            <div class="slider-container">
                                <div class="tk-min">500</div>
                                <div class="amount-slider">
                                    <div class="range-slider">
                                        <div class="track">
                                            <div class="track-bg"></div>
                                            <div class="track-selected"></div>
                                        </div>
                                        <div class="thumbs">
                                            <div class="left-thumb"></div>
                                            <div class="right-thumb"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tk-max">1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="catagory-div">
                        <div class="heading">
                            <div class="icon-catagory">
                                <img src="~/images/category.svg" alt="catagory">
                            </div>
                            <h1>Category</h1>
                            <div class="icon-triangle">
                                <img src="~/images/filterDown.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="choose-catagory">
                        <div class="radio-item">
                            <input type="radio" id="gfxAndDesign" name="category" value="Graphics & Design">
                            <label for="gfxAndDesign">Graphics & Design</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="digitalMarketing" name="category" value="Digital Marketing">
                            <label for="digitalMarketing">Digital Marketing</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="writingAndTranslation" name="category" value="Writing & Translation">
                            <label for="writingAndTranslation">Writing & Translation</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="videoAndAnimation" name="category" value="Video & Animation">
                            <label for="videoAndAnimation">Video & Animation</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="musicAndAudio" name="category" value="Music & Audio">
                            <label for="musicAndAudio">Music & Audio</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="programmingAndTech" name="category" value="Programming & Tech">
                            <label for="programmingAndTech">Programming & Tech</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="business" name="category" value="Business">
                            <label for="business">Business</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="lifestyle" name="category" value="Lifestyle">
                            <label for="lifestyle">Lifestyle</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="none" name="category" value="None">
                            <label for="none">None</label>
                        </div>
                        <button type="submit" class="filter-btn">OK</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="custom-container">
                <div class="header">
                    <h1>Explore</h1>
                    <div class="line"></div>
                </div>
                <div class="job-card-container">
                    @{
                        foreach (var card in jobList)
                        {
                            if(!jobIds.Contains(card.id))
                            {
                                Html.RenderPartial("JobBoardCard", card);
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

