<form action="POST">

    <input type="text" name="title" id="title" placeholder="Job Title">
    <input type="number" name="salary" id="salary" placeholder="Salary">
    <input type="number" name="title" id="revisions" placeholder="Number of Revisions">
    <input type="text" name="title" id="negotiable" placeholder="Negotiable">
    <input type="text" name="title" id="skills" placeholder="Skills Required">

    <p>Upload Images for your Job</p>

    <div class="file-upload">
        <input type="file" id="imgFile1">

        <input type="file" id="imgFile2">

        <input type="file" id="imgFile3">
    </div>

    <p>Upload Files for your Job</p>
    <div class="file-upload">
        <input type="file" id="file1">

        <input type="file" id="file2">

        <input type="file" id="file3">
    </div>

    <button type="submit">
        Create Job
    </button>

</form>