<form method="POST" id="createJobForm" enctype="multipart/form-data">
    <select id="createJobSelect" name="category">
        <option>Select Category --</option>
        <option>Graphics & Design</option>
        <option>Digital Marketing</option>
        <option>
            Writing & Translation
        </option>
        <option>
            Video & Animation
        </option>
        <option>
            Music & Audio
        </option>
        <option>
            Programming & Tech
        </option>
        <option>
            Business
        </option>
        <option>
            Lifestyle
        </option>
    </select>

    <input type="text" name="name" id="title" placeholder="Job Title">
    <input type="number" name="salary" id="salary" placeholder="Salary">
    <input type="number" name="revisions" id="revisions" placeholder="Number of Revisions">
    <input type="datetime-local" name="duration">

    <div class="chip-group">Negotiable? <button class="chip" chip-selected=true type="button">Yes</button> <button class="chip" chip-selected=false type="button">No</button></div>
    <input type="text" name="preferred_skills" id="skills" placeholder="Skills Required">
    <textarea placeholder="Enter details about your job here" id="textarea"></textarea>

    <p>Upload Images for your Job</p>

    <div class="file-upload">
        <input type="file" id="imgFile1" name="jobImages">

        <input type="file" id="imgFile2" name="jobImages">

        <input type="file" id="imgFile3" name="jobImages">
    </div>

    <p>Upload Files for your Job</p>

    <div class="file-upload">
        <input type="file" id="file1" name="jobFiles">

        <input type="file" id="file2" name="jobFiles">

        <input type="file" id="file3" name="jobFiles">
    </div>

    <button type="button" onclick="submitForm(this)">
        Create Job
    </button>
</form>