<form method="POST" id="createJobForm" enctype="multipart/form-data">
    <select id="createJobSelect" name="category">
        <option>Select Category --</option>
        <option>Graphics & Design</option>
        <option>Digital Marketing</option>
        <option>
            Writing & Translation
        </option>
        <option>
            Video & Animation
        </option>
        <option>
            Music & Audio
        </option>
        <option>
            Programming & Tech
        </option>
        <option>
            Business    
        </option>
        <option>
            Lifestyle
        </option>
    </select>

    <input type="text" name="name" id="title" placeholder="Job Title">
    <input type="number" name="salary" id="salary" placeholder="Salary">
    <input type="number" name="revisions" id="revisions" placeholder="Number of Revisions">
    <input type="datetime-local" name="duration">
    <input type="text" name="negotiable" id="negotiable" placeholder="Negotiable">
    <input type="text" name="preferred_skills" id="skills" placeholder="Skills Required">
    @*Details deoa lagbe, Negotiable kora lagbe*@

    <p>Upload Images for your Job</p>

    <div class="file-upload">
        <input type="file" id="imgFile1" name="jobImages">

        <input type="file" id="imgFile2" name="jobImages">

        <input type="file" id="imgFile3" name="jobImages">
    </div>

    <p>Upload Files for your Job</p>
    <div class="file-upload">
        <input type="file" id="file1" name="jobFiles"> 

        <input type="file" id="file2" name="jobFiles">

        <input type="file" id="file3" name="jobFiles">
    </div>

    <button type="button" onclick="submitForm(this)">
        Create Job
    </button>
</form>
<script>
    let select = document.getElementById('createJobSelect')
    select.style.color = "#c2c2c2"

    select.addEventListener('change', (e) => {
        if (e.target.value === 'Select Category --')
            select.style.color = "#c2c2c2"
        else
            select.style.color = "#000000"
    })

    const submitForm = () => {
        if (!(select.value === 'Select Category --')) {
            console.log('SUBMITTING!')
            document.getElementById('createJobForm').submit()
        } else {
            console.log('HEHEHE EROR')
        }
    }
</script>