<footer class="bg-black overflow-hidden" style="height: 200px;">
    <div class="row d-flex flex-column align-items-center ">
        <hr class="color-white my-5 w-90 ">
        <div class="d-flex justify-content-between  w-90">
            <div class="d-flex align-items-center">
                <a href="#" class="navbar-brand color-white " style="text-decoration: none;">JS</a>
                <h4 class="color-white footer-text">© 2022 Company, Inc</h4>
            </div>
            <div>
                <h1 class="header-text-2">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-facebook-messenger"></i>
                    <i class="fab fa-twitter"></i>
                </h1>
            </div>
        </div>
    </div>
</footer>
