@model JobSeekerWeb.Models.ApplicantViewModel
<div class="card">
    <div class="banner align-items-center">
        @{
            if (Model.picture == "NULL")
            {
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" height="120" width="120">
            }
            else
            {
                <img src="~/DatabaseImg/@Model.picture" height="120" width="120">
            }
        }
    </div>
    <div class="card-body">
        <h1>@Model.name</h1>
        <p>Rating</p>
        <p>@Model.rating <i class="fa fa-star" aria-hidden="true"></i></p>
        <p>Jobs Completed</p>
        <p>@Model.completed <i class="fas fa-project-diagram"></i></p>
    </div>
    <div class="card-footer">
        <p>Java, JavaScript, C++, Illustrator</p>
    </div>
    <form method="POST" action="/Dashboard/HireUser">
        <input name="applicantId" value=@Model.id class="d-none"/>
        <button type="submit">
            Hire
        </button>
    </form>
</div>

